# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
venv/
env/
.venv/
resume_venv/
.env

# --- Distribution / Packaging ---
build/
dist/
*.egg-info/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- IDE Settings ---
.vscode/
.idea/

# --- Project Specifics ---

# Ignore data files inside notebooks
notebooks/data/*
!notebooks/data/.gitkeep

# --- ARTIFACTS & MODELS (The Important Part) ---
# 1. Ignore everything in artifacts/ by default (keeps out train.csv, test.csv)
artifacts/*

# 2. BUT... Allow (Un-ignore) the .pkl model files
# We need these for Render deployment!
!artifacts/*.pkl

# 3. Allow .gitkeep to track the folder structure
!artifacts/.gitkeep

# --- Logs ---
logs/*
!logs/.gitkeep